body { background: #000; color: #fff; font-family: 'Segoe UI', sans-serif; margin: 0; text-align: center; }

.header { 
    padding: 20px; 
    border-bottom: 2px solid #6c5ce7; 
    position: sticky; /* Corregido el error amarillo */
    top: 0; 
    background: #000; 
    z-index: 100; 
}

.bienvenida { padding: 100px 20px; color: #666; }
.bienvenida h2 { color: #6c5ce7; }

input { 
    width: 80%; max-width: 500px; padding: 12px; border-radius: 25px; 
    border: 2px solid #333; background: #1a1a1a; color: #fff; outline: none;
}

button { 
    background: #1a1a1a; color: white; border: 1px solid #6c5ce7; 
    padding: 8px 15px; border-radius: 5px; cursor: pointer; margin: 10px 5px; 
}

.contenedor { 
    display: grid; grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); 
    gap: 20px; padding: 20px; 
}

.manga-card { 
    background: #111; padding: 10px; border-radius: 10px; cursor: pointer; 
    position: relative; transition: 0.3s;
}
.manga-card:hover { transform: scale(1.05); }
.manga-card img { width: 100%; border-radius: 8px; }

.btn-fav { 
    position: absolute; top: 15px; right: 15px; background: rgba(0,0,0,0.7); 
    border: none; color: gold; font-size: 20px; border-radius: 50%; width: 35px; height: 35px;
}

.modal { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; overflow-y: auto; z-index: 1000; }
.modal-content { width: 100%; max-width: 800px; margin: auto; }
.close { position: fixed; top: 20px; right: 30px; font-size: 40px; cursor: pointer; color: #fff; z-index: 1100; }

#visor-manga img { width: 100%; display: block; }
#select-ch { background: #1a1a1a; color: #fff; padding: 10px; width: 90%; margin: 20px 0; border: 1px solid #6c5ce7; }